#Photo-Gallery {  
  display: block;
  position: relative;
  top:75px;
}

/*CSS to add to proxy server*/
/* .client-src-components-modal__modal--2HMSx {
  top:-25px;
  bottom:-25px;
}

.client-src-components-modal__photo-carousel-description-container--3qPnT {
  overflow: hidden
} */